RxJs/node_modules/
RxJs/.vscode/

/CSharpTopics/.vs
/CSharpTopics/Interfaces/bin/Debug/net8.0
/CSharpTopics/Interfaces/obj
/CSharpTopics/Interfaces.Tests/bin/Debug/net8.0
/CSharpTopics/Interfaces.Tests/obj
/CSharpTopics/StrategyPattern/bin/Debug/net8.0
/CSharpTopics/StrategyPattern/obj
/CSharpTopics/StrategyPattern.Tests/bin/Debug/net8.0
/CSharpTopics/StrategyPattern.Tests/obj
