<h2>Observable vs Promise</h2>
<p>
  Both are used to handle asynchronous operations. But Observables are more
  powerful and flexible than promises. It has more features than promises.
</p>
<p>
  Promises are simpler and well-suited for situations where a single
  asynchronous result is expected.
</p>
<p>
  Consider the specific requirements of your application and choose the
  asynchronous pattern that best fits your needs.
</p>
<div class="container custom-row-colors text-center mt-4">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5"><b>Observable</b></div>
    <div class="col-6"><b>Promise</b></div>
  </div>
  <div class="row">
    <div class="col-1">1</div>
    <div class="col-5">Needs RxJs library.</div>
    <div class="col-6">Built-in feature of JavaScript. No library needed.</div>
  </div>
  <div class="row">
    <div class="col-1">2</div>
    <div class="col-5">
      Good choice to handle streams of data (publisher-subscriber situations)
      over time.
    </div>
    <div class="col-6">Designed to handle single asynchronous data.</div>
  </div>
  <div class="row primary">
    <div class="col-1">3</div>
    <div class="col-5">
      Doesn't automatically termimate after producing first data. Remains alive
      for next data.
    </div>
    <div class="col-6">
      Automatically termimates after producing first data.
    </div>
  </div>
  <div class="row primary">
    <div class="col-1">4</div>
    <div class="col-5">
      Observables are Lazy - Means they don't start producing values until a
      subscriber subscribes to them.
    </div>
    <div class="col-6">
      Promises are Eager (Not lazy) - Means that the asynchronous operation
      starts as soon as the promise is created, even if there is no subscriber
      (or consumer) for the result.
    </div>
  </div>
  <div class="row primary">
    <div class="col-1">5</div>
    <div class="col-5">Supports operators for data transformation</div>
    <div class="col-6">No operator support</div>
  </div>
  <div class="row primary">
    <div class="col-1">6</div>
    <div class="col-5">Can be cancelled using unsubscribe method.</div>
    <div class="col-6">
      No built-in support for cancellation. So, can't be cancelled.
    </div>
  </div>
  <div class="row primary">
    <div class="col-1">7</div>
    <div class="col-5">async-await can't be used with observables.</div>
    <div class="col-6">async-await can ONLY be used with promises.</div>
  </div>
</div>
<div class="alert alert-warning mt-4">
  An Observable (obs$) can be converted to promise as follows:
  <p><code> obs$.toPromise(); </code></p>
  <p><code> firstValueFrom(obs$); </code></p>
  <p><code> lastValueFrom(obs$); </code></p>
</div>
